<p id="title">Here is Your Book Title: <%= @title %></p>
<p id="author">Here's the Author of Your Book: <%= @author %></p>
<img src="<%= @image %>">
<p id="link">Here is the link to buy your book: <a href="<%= @link %>"><%= @link %></a></p>
<br>
<a id="back" href="/">Back to Search</a>
